@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
    color: white;
}

@layer components {
    .nav-items {
        @apply text-gray-400 hover:text-white duration-200 ease-in-out transition-all ;
    }
    .form-elements{
        @apply bg-transparent p-3 border rounded-md focus:outline-none focus:border-pink-700 border-gray-500 w-full focus:ring-1 focus:ring-pink-500 hover:border-pink-700 transition-all duration-150 ease-in-out;

    }
 
}

.stick{
    width: 20px;
    height: 2px;
    display: block;
    position: relative;
    background-color: white;
    transition: all 0.4s ease;


}

.stick:nth-child(1){
    transform: translateY(-7px);


}
.stick:nth-child(3){
    transform: translateY(7px);

}

.cross:nth-child(1){
   
    transform: rotate(45deg);
}
.cross:nth-child(3){

    transform: rotate(-45deg);
    bottom: 4px;
}

.cross:nth-child(2){
   opacity: 0;
}
